.links
{
    text-align: left;
    background-color:blanchedalmond;
    padding: 1%;
    padding-left: 2%;
    font-size: larger;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}